@mixin flex-colum{
    display: flex;
    flex-direction: column;
}

@mixin flex-colum-center{
    @include flex-colum;
    align-items: center;
}

@mixin flex-row-center{
    display: flex;
    align-items: center;
}

@mixin container{
    margin: 0;
    padding: 0;  
}

@mixin colum-container {
    @include flex-colum-center;
    @include container;
}
@mixin row-container{
    @include flex-row-center;
    @include container;
}