@mixin flex-colum{
    display: flex;
    flex-direction: column;
}

@mixin flex-colum-center{
    @include flex-colum;
    align-items: center;
}

@mixin flex-row-center{
    display: flex;
    align-items: center;
}

@mixin container{
    margin: 0;
    padding: 0;  
}

@mixin container-max-size {
    max-width: 1440px;
    width: 95%;
}

@mixin contents{
    @include container-max-size;
    @include colum-container;
}

@mixin colum-container {
    @include flex-colum-center;
    @include container;
}
@mixin row-container{
    @include flex-row-center;
    @include container;
}

@mixin item-box-size($item-box-size:19.625rem){
    .bike-item{
        // 4:3
        width: $item-box-size;
        height: $item-box-size*0.75;
        img{
            // 16:9
            width: $item-box-size;
            height: $item-box-size*0.5625;
        }
    }
}

@mixin outline-none{
    &:hover, &:focus{
        outline: none;
    }
}

@mixin outline-none-btn {
    @include outline-none;
    &:hover{
        background-color: $light-orange;
    }
    &:focus{
        background-color: $dark-orange;
    }
}

@mixin user-input-box{
    width: 22.5rem;
    height: 2.375rem;
    padding: 0.5rem;
    border-radius: 5px;
}