@mixin flex-colum{
    display: flex;
    flex-direction: column;
}

@mixin flex-colum-center{
    @include flex-colum;
    align-items: center;
}

@mixin flex-row-center{
    display: flex;
    align-items: center;
}

@mixin container{
    margin: 0;
    padding: 0;  
}

@mixin container-max-size {
    max-width: 1440px;
    width: 95%;
}

@mixin contents{
    @include container-max-size;
    @include colum-container;
}

@mixin colum-container {
    @include flex-colum-center;
    @include container;
}
@mixin row-container{
    @include flex-row-center;
    @include container;
}

@mixin item-box-size($item-box-size:19.625rem){
    .bike-item{
        // 4:3
        width: $item-box-size;
        height: $item-box-size*0.75;
        img{
            // 16:9
            width: $item-box-size;
            height: $item-box-size*0.5625;
        }
    }
}

@mixin outline-none{
    &:hover, &:focus{
        outline: none;
    }
}

@mixin outline-none-btn {
    @include outline-none;
    &:hover{
        background-color: $light-orange;
    }
    &:focus{
        background-color: $dark-orange;
    }
}

@mixin user-input-box{
    width: 22.5rem;
    height: 2.375rem;
    padding: 0.5rem;
    border-radius: 5px;
}

@mixin register-form-contain {
    min-width: 20rem;
    width: 40rem;
    min-height: 60vh;
    h2{
        margin: 0;
        font-weight: 600;
        font-size: 2rem;
    }
}

@mixin buyk-btn{
    @include outline-none-btn;
    height: 2.75rem;
    padding: 0 1rem;
    border: 0;
    border-radius: 10px;
    box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.35);
    background: $orange;
    font-size: 1.25rem;
    color: $white;
}

@mixin label-btn {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 2.75rem;
    border: 0;
    border-radius: 10px;
    box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.35);
    background: $gray;
    line-height: 2.75rem;
    font-size: 1.25rem;
    color: $black;
    cursor: pointer;
    &.checkActive{
        background: $orange;
        color: $white;
    }
}