/*

color

*/
$light-orange:#ff7e00;
$orange:#f75e00;
$dark-orange:#ee3e00;
$white:#fcfafa;
$gray: #f4efed;
$opacity-black:rgba(15, 15, 15, 0.4);
$black:#0f0f0f;
$none-color:rgba( 255, 255, 255, 0 );


/*

fontsize

*/
$base-font-size: 16px !default;
$title-font-size: 1.875rem; // 16px -> 30px



